<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
  https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <id>maven-nexus</id>
      <name>Default Local Mirror proxy</name>
      <url>${env.CI_MAVEN_REPO_URL}</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
    <mirror>
      <id>nexus-upload</id>
      <name>For uploading artifacts</name>
      <url>${env.CI_MAVEN_UPLOAD_URL}</url>
    </mirror>
  </mirrors>

  <servers>
    <server>
      <id>nexus</id>
      <username>${env.CI_MAVEN_UPLOAD_USER}</username>
      <password>${env.CI_MAVEN_UPLOAD_PASS}</password>
    </server>
  </servers>
</settings>
