<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
  https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <id>maven-nexus</id>
      <name>Default Local Mirror proxy</name>
      <url>${env.CI_MAVEN_REMOTE_NAME}</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

  <servers>
    <server>
      <id>nexus-releases</id>
      <username>${env.CI_MAVEN_RELEASES_USER}</username>
      <password>${env.CI_MAVEN_RELEASES_PASS}</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>${env.CI_MAVEN_SNAPSHOTS_USER}</username>
      <password>${env.CI_MAVEN_SNAPSHOTS_PASS}</password>
    </server>
  </servers>
</settings>
